/**
 * Generic styling
 */
body {
	padding: 0;
	margin: 0;
	background: #EFEBE9;
	color: #444;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.6;
}
p, li {
	max-width: 40em;
}

a {
	color: #111;
	text-decoration: none;
	transition: color .2s ease-in-out;
}
a:hover {
	color: #4E342E;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: .5em;
	padding-left: 1em;
}

code {
	font-family: monospace;
	background: #ddd;
	color: #111;
	border: 1px solid #ccc;
	padding: 0 4px;
	display: inline-block;
	font-size: 80%;
}
h1 code, h2 code, h3 code {
	background: none;
	border: none;
}
pre {
	max-width: 50em;
}
pre > code {
	display: block;
	padding: 8px 12px;
	background: #ddd;
	border: 1px solid #ccc;
	word-break: break-word;
	font-size: 14px;
}
@media screen and (max-width: 899px) {
	pre > code {
		font-size: 12px;
	}
}

/**
 * Layout
 */
.sidebar, .main, .footer {
	padding: 12px 16px;
}


/**
 * Sidebar(s)
 */
.sidebar h1 {
	font-size: 20px;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chapters li a, .links li a {
	display: block;
}

@media screen and (min-width: 900px) and (min-height: 600px) {
	.sidebar {
		position: fixed;
		left: 0;
		width: 200px;
	}
	.chapters {
		top: 0;
	}
	.links {
		bottom: 0;
	}
	.main, .footer {
		margin-left: 250px;
	}
}
@media screen and (max-width: 899px), screen and (max-height: 599px) {
	.chapters {
		text-align: center;
		border-bottom: 1px solid #ccc;
	}
	.chapters li {
		display: inline-block;
		margin: 0 1em;
	}
	.chapters h1 {
		display: none;
	}
	.links {
		border-top: 1px solid #ccc;
	}
}

/**
 * Main content
 */
.main a {
	text-decoration: underline;
}

