<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{title}</title>
	<link rel="stylesheet" href="style.css">
	<base href="{base_href}">
</head>
<body>

<nav class="sidebar chapters">
	{chapters}
</nav>

<main class="main" id="content">
	{content}
</main>

<aside class="sidebar links">
	{links}
</aside>

<footer class="footer">
	<p>2015 &copy; Andreas Lutro - <a href="https://github.com/autarky/docs" target="_blank">Documentation source code</a></p>
</footer>

</body>
</html>
